.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0; /*sentido horário*/
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
display: none;
}

.swiper-pagination {
    position: initial; /*vai posicionar as bolinhas acima das imagens*/
    margin: 0.5em 0; /*primeiro: topo e baixo e o segundo: esquerda e direita*/
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    
}