.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg"); /* os dois pontos são usados pq sem eles o header.css ia procurar dentro da pasta styles, mas a imagem está em outra pasta */
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; /* inline-block pra permitir modificação na altura e largura*/
     
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;  /* desaparece com o elemento, nesse caso a lista do menu hamburguer*/ 
    position: absolute;
    top: 100%;
    width: 60vw;
} 

.container__botao:checked~.lista-menu {
    display: block;
}
/* o ~ é um combinador css, que procura a classe dentro da outra*/

.lista-menu__titulo, 
.lista-menu__item {
padding: 1em;
background-color: var(--branco);
}

.lista-menu__titulo {
color: var(--laranja);
font-weight: 700;
}

.lista-menu__link { 
    background: var(--azul-degrade);
    background-clip: text; /*prende a cor de background apenas no texto*/
    -webkit-background-clip: text; /* pra funcionar em outros tipos de navegadores*/
    -webkit-text-fill-color: transparent;
    text-transform: uppercase; /*coloca em caixa alta*/
}

.container__botao {
    display: none; /*tira o nome alura do header*/
}

.container__titulo, 
.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

/*media query aplicar estilos em telas de outros tamanhos*/
@media screen and (min-width: 1024px) {
    .container__titulo, 
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block; /*coloca o nome alura do header*/
    }

    .container__titulo--negrito {
        font-weight: 700;
     }

     .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color:var(--preto);
    }
    
    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }
    .opcoes__botao {
       display: none;
    }
}

@media screen and (min-width: 1728px){
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto; 
    } /*flex container,
    margin-right ou left com valor auto, 
    preenche todo o espaço que sobra, nesse caso 
    preencheu a direita, os itens foram pra esuerda */

    .container__texto {
        display: block;
    }
}